<mat-toolbar color="primary">
  <span><a routerLink="/">Posts</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!isAuth">
      <a routerLink="/auth/login" mat-button routerLinkActive="mat-accent"
        >Login</a
      >
    </li>
    <li *ngIf="!isAuth">
      <a routerLink="/auth/signup" mat-button routerLinkActive="mat-accent"
        >Sign up</a
      >
    </li>
    <li *ngIf="isAuth">
      <a routerLink="/create" mat-button routerLinkActive="mat-accent"
        >New Post</a
      >
    </li>
    <li *ngIf="isAuth">
      <button mat-button (click)="logout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
